{% extends "layout.html" %}

{% block body %}

<div class="grid-container">
        <div class="navigation-bar grid-item-row-1">
            <div class="navigation-bar-left">
                <div>
                    <a href="/" >Home</a>
                </div>
                <div>
                    <a href="/about-us" class="active">About Us</a>
                </div>
            </div>
            <div class="navigation-bar-right">
                <div>
                    <input type="search">
                    <button>Search</button>
                </div>


            </div>
        </div>
        <div class="content-with-background-color grid-item-col-1-row-3">
            <p>Mary Jones is owned by a female entrepreneur</p>
            <p>This is a company that produces different types of agricultural goods and intends to market them fresh</p>
        </div>
        <div class="content-with-background-image grid-item-row-2">
            <div class="animated-content">
                <p>This is the {{title}} page</p>
            </div>
        </div>
        <div class="content-with-background-color grid-item-col-2-row-3">
        </div>
        <div class="content-with-background-image2 grid-item-row-4">

        </div>
        <div class="content-with-background-color grid-item-col-3-row-3">
            <p>Mary Jones Nigeria Limited.</p>
            <p>This is a company that produces different types of agricultural goods and intends to market them fresh</p>
        </div>
    </div>


{% endblock%}